.blog {
	padding: 90px 0 150px 0;

	&__title {
		margin-bottom: 60px;
		width: 100%;

		@media (max-width: 1024px) {
			padding: 0 15px;
		} 

		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__row {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}

	&__column {
		width: $width-col-2;

		@media (max-width: 768px) {
			width: $width-col-1;
		}
	}

	&__image {
		position: relative;
	}
}
.post-blog {
	margin-top: 60px;

	@media (max-width: 1024px) {
		margin-top: 30px;
	}

	&__line{
		margin-left: -20px;
		z-index: -101;
    	position: relative;
	}

	&__title {
		font-size: $h3-font-size-m;
		font-family: "Muli-Bold";
		color: $bright-orange-color;
		line-height: 1.333;
		margin: 50px 0 0 50px;

		@media (max-width: 1024px) {
			font-size: $text-size-button;
			margin: 50px 0 0 25px;
		}
	}

	&__date {
		display: block;
		font-size: 16px;
		font-family: "Muli-Regular";
		color: $brown-black-color;
		line-height: 2.188;	  
	}

	&__text {
		font-size: $text-size-standart;
		font-family: "Muli-Regular";
		color: $brown-black-color;
		line-height: 1.944;
		margin: 25px 0 0 100px; 

		@media (max-width: 1024px) {
			margin: 25px 0 0 40px;
			padding-right: 10px;
		}
	}

	&__more {
		position: relative;
		display: inline-block;
		font-size: $text-size-standart;
		font-family: "Muli-ExtraBold";
		color: $brown-black-color;
		line-height: 1.944;  
		text-decoration: none;
		&::after{
			content:'';
			position: absolute;
			background: url(../img/blog/arrow.svg);
			background-repeat: no-repeat;
			display:block;
			width: 18px;
			height: 10px;
			top: 13px;
			right: -25px;
		}
		&::before{
			content: '';
			width: 0%;
			height: 2px;
			background-color: $brown-black-color;
			position: absolute;
			bottom: 0;
			transition: all 0.5s ease-in-out 0s;
		}
		&:hover{
			&::before{
				content: '';
				width: 100%;
			}
		}
	}
}

.line-image{
	width: 100%;
	height: auto;
	display: block;

	@media (max-width: 768px) {
		width: 98%;
		margin: 0 auto;
	}
}
