@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@mixin border-link($color, $width, $radius, $text-color) {
	border: $width solid $color;
	border-radius: $radius;
	color: $text-color;
	text-decoration: none;
	font-family: "Muli-ExtraBold", serif;
	font-size: $text-size-button;
	padding: 20px 60px 20px 30px;
	position: relative;
  }

@mixin arrow-button-orange($top, $left, $right) {
    content: url(../img/arrow-orange.svg);
	top: $top;
	left: $left;
	right: $right;
	position: relative;
}

@mixin arrow-button-white($top, $left, $right) {
    content: url(../img/arrow-white.svg);
	top: $top;
	left: $left;
	right: $right;
	position: relative;
}

@mixin hover-button($background, $shadow-color) {
	background: $background;
	box-shadow: 0px 0px 20px -5px $shadow-color;
}

@import 'normalize/variables';
@import 'normalize/_import-now';
@import "variables";
@import "fonts";
@import "header";
@import "specification";
@import "products";
@import "about";
@import "story";
@import "testimonials";
@import "slick";
@import "slick-theme";
@import "blog";
@import "insta";
@import "footer";
@import "hero";

a:visited{
	color: $white-color !important;
}

