.testimonials {
	background-color: $bg-testimonials;
	padding: 120px 0 70px;

	@media (max-width: 768px) {
		padding:120px 15px 70px;
		box-sizing: border-box;
	}

	&__title {
		text-align: center;
	}

	&__arrows{
		display: flex;
    	justify-content: space-between;
		max-width: 160px;
		margin: 120px auto 0;
	}

	&__prev, &__next{
		width: 35px;
		height: 20px;
		background: none;
		border: none;
		background-repeat: no-repeat;
		cursor: pointer;
	}

	&__prev{
		background-image: url(../img/testimonials/arrow-prev.svg)
	}

	&__next{
		background-image: url(../img/testimonials/arrow.svg)
	}

	&__next{
		&:hover{
			transform: translateX(10px);
			border: none;
			outline: none;
		}
	}

	&__prev{
		&:hover{
			transform: translateX(-10px);
			border: none;
			outline: none;
		}
	}

	&__prev, &__next{
		&:active, &:focus, &:visited {
			outline: none;
			border: none;
		}
	}
}

.review {
	max-width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 90px auto 0;
	position: relative;

	@media (max-width: 768px) {
		flex-direction: column-reverse;
	}

	&__name{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 200px;
		font-family: "Muli-Bold";
		color: $brown-big-name-color;
		line-height: 0.2;
		text-align: center;
		z-index: 1;

		@media (max-width: 800px) {
			font-size: 125px;
			width: 100%;
			top: -40px;
		}

		@media (max-width: 425px) {
			font-size: 70px;
		}
	}

	&__box-text{
		width: 70%;
		display: flex;
		justify-content: flex-end;
		box-sizing: border-box;
		z-index: 2;
		padding-right: 30px;

		@media(max-width: 425px) {
			padding: 0;
    		width: 100%;
		}
	}

	&__text{
		max-width: 500px;
		font-size: $text-size-standart;
		font-family: "Muli-Regular", serif;
		color: $white-color;
		line-height: 1.944;
		text-align: center;	  
	}

	&__adress{
		display: block;
		font-size: $text-size-standart;
		font-family: "Muli-SemiBoldItalic", serif;
		color: $title-orange;
		text-align: center;	 
		margin-top: 25px;
	}

	&__image{
		width: 30%;
		max-width: 230px;
		z-index: 2;

		@media (max-width: 768px) {
			margin-bottom: 35px;
		}

		@media (max-width: 425px) {
			width: auto;
		}
	}
}

.image-avatar{
	border-radius: 50%;
}