/*colors*/
$white-color: #fff;
$orange-color: #f9a73d;
$green-color: #0aa566;
$green-second-color:#127f70;
$bright-orange-color: #f2612d;
$bright-orange-button-top: #f2662f;
$light-green-color: #cae941;
$brown-color: #612a16;
$brown-black-color: #1e1e1e;
$grey-pink-color: #af8a82;
$sand-color: #f6edde;
$brown-bg: #612b1c;
$red-bg: #c2461b;
$green-bg: #1c8670;
$orange-bg: #f7ab3e;
$title-orange: #f7ae3b;
$bg-testimonials: #662e1c;
$brown-testimonials-color: #5b240e;
$brown-big-name-color: #5c2211;
$bg-after-footer: #6f291f;
$bg-footer-color: #f9af39;
$light-yellow-color: #ffd68f;


/*font-size*/
$h1-font-size-xl: 53px;
$h2-font-size-xl: 50px;
$h1-font-size-m: 40px;
$h2-font-size-m: 40px;
$h3-font-size-m: 30px;
$h1-font-size-xs: 26px;
$h2-font-size-xs: 25px;
$text-size-button: 21px;
$text-size-standart: 18px;
$text-size-little: 13px;
$text-size-menu: 16px;

/*width*/
$width-col-5: 20%;
$width-col-4: 25%;
$width-col-3: 33,33333%;
$width-col-2: 50%;
$width-col-1: 100%;

/*margin*/
$margin-center: 0 auto;

/*elements*/
$button-border: 1px solid #fff;
$button-radius: 30px;
$button-padding: 20px 35px 20px 25px;
$border-box: 2px solid $sand-color;





